<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Sign In">
   
    <!--login content section-->
    <ion-content id="social-login" class="bg-white">
        <!--fake login form section-->
        <form class="fakeLogin-form">
            <!--<div>
                <img src="img/logo.png"/>
            </div>-->
            <div class="sub-header">Loan Maintenance</div>

            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Username" ng-model="loginData.userName">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="Password" ng-model="loginData.password">
                </md-input-container>
            </div>
            <div>
                <a ng-click="login(loginData)" class="md-raised social-button md-button md-default-theme material-background">
                    Login
                </a>
            </div>
            <p>{{loginResult}} </p>
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>